bin/
obj/
Bin/
Obj/
TestResults/
*.user
*.suo
*.bak
*.userprefs
*.pidb
Velox.DB.*.nupkg
pushAll.cmd

_ReSharper*/
*.[Rr]e[Ss]harper

*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config
